body{
    background: #6e4a4a;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
  }
  
  .box-grande{
    background-color: #99DD99;
    width: 700px;
    padding: 30px;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 #eee;
  }
  
  h1{
    font-size: 25px;
    font-weight: bolder;
    color: #eee;
    text-transform: uppercase;
    padding: 0 20px;
  }
  
  h2{
    color: #aaa;
    font-size: 13px;
  }
  
  span{
    color: #0000;
    font-size: 13px;
    display: block;
    font-weight: bold;
  }
  
  img{
    width: 40px;
    padding: 0;
    margin: 0;
  }
  
  h3{
    color: #eee;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 22px;
  }
  
  form{
    background: #0000;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    border-color: #f03774;
  }
  
  input{
    display: block;
    width: 250px;
    height: 20px;
    padding: 2px;
    text-align: center;
    margin: 12px auto;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #eee;
    border-radius: 6px;
    background-color: transparent;
    color: #f03774;
  }
  
  .boton-enviar{
    margin-top: 20px;
    background-color: #f03774;
    color: #000;
    width: 60px;
  }
  
  p{
    color: #f03774;
  }
  
  a{
    color: #eee;
  }