    .upbutton-position {
    bottom: 20px;
    right: 80px; /* Ajusta este valor para mover más a la izquierda */
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }
    .form-signin {
        max-width: 330px;
        padding: 15px;
    }
    .btn-circle {
      cursor: pointer;
      transition: transform 0.6s ease;
      transform-origin: center;
    }
    .btn-circle:hover {
          transform: rotate(360deg);
    }
    @font-face {
        font-family: 'BookHubFont';
        src: url('./assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    .TituloPersonalizado {
        font-family: 'BookHubFont', sans-serif;
        color: #99DD99
    }
    .TituloPersonalizado-Grande{
        font-size: 4rem;
    }
    .TituloPersonalizado-Mediano{
      font-size: 3rem;
    }
    .TituloPersonalizado-Chico{
      font-size: 1.5rem;
    }
    .btn-aqua {
    background-color: #99DD99; /* Color verde agua */
    color: rgb(0, 0, 0); /* Color del texto */
    border: 1px solid #99DD99; /* Borde del mismo color */
    padding: 0.375rem 0.75rem; /* Padding similar al botón de Bootstrap */
    font-size: 1rem; /* Tamaño de fuente */
    border-radius: 0.25rem; /* Borde redondeado */
    transition: all 0.5s;
    cursor: pointer;
    }
    .btn-aqua:hover {
    background-color: #1aa487; /* Color verde agua oscuro al pasar el ratón */
    border-color: #1aa487; /* Borde del mismo color */
    }
    .btn-aqua span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
    .btn-aqua span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -100px;
    transition: 0.5s;
    }
    .btn-aqua:hover span {
    padding-right: 20px;
    }
    .btn-aqua:hover span:after {
    opacity: 1;
    right: 0;
    }
